name: Build PR

on:
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        python-version:
        - '3.9'
        - '3.8'
        - '3.7'
        - '3.6'

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Add ODBC repo
      run: |
        wget https://public.dhe.ibm.com/software/ibmi/products/odbc/debs/dists/1.1.0/ibmi-acs-1.1.0.list
        sudo mv ibmi-acs-1.1.0.list /etc/apt/sources.list.d
        sudo apt update
    - name: Install unixodbc and driver on Linux
      run: sudo apt install unixodbc-dev ibm-iaccess
    - name: Install dependencies
      run: |
        pip install poetry
        poetry config virtualenvs.create false
        poetry install
    # Our test system is currently unavailable, so disable this for now
    #- name: Test with pytest
    #  run: |
    #    .github/scripts/runtests.py
    #  env:
    #    IBMI_HOSTNAME: ${{ secrets.IBMI_HOSTNAME }}
    #    IBMI_USERNAME: ${{ secrets.IBMI_USERNAME }}
    #    IBMI_PASSWORD: ${{ secrets.IBMI_PASSWORD }}
